<%=render './form' %>
<br>
<img src="../review.png" width="100%"/>

<%= form_for :review, url: review_path, method: :patch do |f| %>

<table width="100%" border="1" style="font-size:10px">
  <tr>
    <td><%= f.label :num %></td>
    <td><%= f.text_field :num, :style => "width:100%;border:0" %></td>
    <td><%= f.label :date %></td>
    <td><%= Time.now.strftime("%Y-%m-%d") %></td>
  </tr>

  <tr>
    <td><%= f.label :product %></td>
    <th ColSpan="3">
      <%= f.text_field :product, :style => "width:100%;border:0" %></th>
  </tr>

  <tr>
    <td><%= f.label :subject %></td>
    <th ColSpan="3">
      <%= f.text_field :subject, :style => "width:100%;border:0" %></th>
  </tr>

  <tr>
    <td><%= f.label :text %></td>
    <th ColSpan="3">
      <%= f.text_area :text, :style => "width:100%;border:0" %></th>
  </tr>

  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name, :style => "width:100%;border:0" %></td>
    <td><%= f.label :star %></td>
    <td><%= f.select :star, options_for_select(Review::STARS) %></td>
  </tr>
<table>

<table align="center" style="font-size:10px">
  <tr style="text-align:center">
    <td width=40><%=link_to '이전', review_path %></td>
    <td width=40><%= f.submit '등록'%></td>
  </tr>
</table>
<% end %>

