<%=render './form' %>
<h1 style="font-family:Serif;color:#4c4c4c;text-align:center">REVIEW</h1>

<p style="text-align:right"><%=link_to '글쓰기', new_review_path %></p>
<table width=100% align=center>
  <tr>
    <th>NO</th>
    <th>PRODUCT</th>
    <th>SUBJECT</th>
    <th>NAME</th>
    <th>DATE</th>
    <th>평점</th>
  </tr>

  <% @review.each do |review| %>
    <tr>
      <td><%= review.num %></td>
      <td><%= review.product %></td>
      <td><%= link_to review.subject, review_path(review) %></td>
      <td><%= review.name %></td>
      <td><%= review.date %></td>
      <td><%= review.star %></td>
    </tr>
  <% end %>
</table>
<p>Find me in app/views/review/index.html.erb</p>
