<%=render './form' %>
<h1 style="font-family:Serif;color:#4c4c4c;text-align:center">REVIEW</h1>

<p style="text-align:right"><%=link_to '글쓰기', new_review_path %></p>
<table width=100% align=center rules="rows" style="rule-color:grey">
  <tr style="border-bottom: 2px solid black">
    <td>NO</td>
    <td>PRODUCT</td>
    <td>SUBJECT</td>
    <td>NAME</td>
    <td>DATE</td>
    <td>평점</td>
  </tr>

  <% @review.each do |review| %>
    <tr>
      <td><%= review.num %></td>
      <td><%= review.product %></td>
      <td><%= link_to review.subject, review_path(review) %></td>
      <td><%= review.name %></td>
      <td><%= review.date %></td>
      <td><%= review.star %></td>
    </tr>
  <% end %>
</table>
<p>Find me in app/views/review/index.html.erb</p>
