<%=render './form' %>
<h1 style="font-family:Serif;color:#4c4c4c;text-align:center">REVIEW</h1>

<table align="right">
  <tr style="text-align:right">
    <td width=40><%=link_to '수정', edit_review_path(@review) %></td>
    <td width=40><%=link_to '삭제', review_path(@review), method: :delete %></td>
  </tr>
</table>

<table rules="rows" width="100%"  style="border:grey;text-align:left">
  <tr>
    <td>PRODUCT</td>
    <th ColSpan="3" style="color:grey;font-weight:lighter">
      <%=@review.product%></th>
  </tr>
  <tr>
    <td>SUBJECT</td>
    <td style="color:grey"><%=@review.subject%></td>
    <td>NUM</td>
    <td style="color:grey"><%=@review.num%></td>
  </tr>
  <tr>
    <td>NAME</td>
    <th ColSpan="3" style="color:grey;font-weight:lighter">
      <%=@review.name%></th>
  </tr>
  <tr>
    <td>DATE</td>
    <td style="color:grey"><%=@review.date%></td>
    <td>평점</td>
    <td style="color:grey"><%=@review.star%> / 5.0</td>
  </tr>
  <tr>
    <th ColSpan="4" style="color:grey;font-weight:lighter">
      <%=@review.text%></th>
  </tr>
</table>

<br><p style="text-align:center"><%=link_to '목록', review_index_path%></p>
