<%=render './form' %>
<br>
<img src="../review.png" width="100%"/>

<table align="right" style="font-size:10px">
  <tr style="text-align:right">
    <td width=40><%=link_to '수정', edit_review_path(@review) %></td>
    <td width=40><%=link_to '삭제', review_path(@review), method: :delete %></td>
  </tr>
</table>

<table rules="rows" width="100%"  style="border:grey;font-size:10px;text-align:left">
  <tr>
    <td>PRODUCT</td>
    <th ColSpan="3" style="color:grey;font-weight:lighter">
      <%=link_to @review.product, shop_path%></th>
  </tr>
  <tr>
    <td>SUBJECT</td>
    <td style="color:grey"><%=@review.subject%></td>
    <td>NUM</td>
    <td style="color:grey"><%=@review.num%></td>
  </tr>
  <tr>
    <td>NAME</td>
    <th ColSpan="3" style="color:grey;font-weight:lighter">
      <%=@review.name%></th>
  </tr>
  <tr>
    <td>DATE</td>
    <td style="color:grey"><%=@review.date%></td>
    <td>평점</td>
    <td style="color:grey"><%=@review.star%> / 5.0</td>
  </tr>
  <tr>
    <th ColSpan="4" style="color:grey;font-weight:lighter">
      <%=@review.text%></th>
  </tr>
</table>

<br><p style="text-align:center;font-size:10px"><%=link_to '목록', review_index_path%></p>
