<%=render './form' %>
<h1 style="font-family:Serif;color:#4c4c4c;text-align:center">SHOP</h1>
<%= form_for @shop, url: shop_path, :html => {:multipart => true}, method: :patch  do |f| %>
<table width="100%" border="1">
  <tr>
    <td><%=f.label :image %></td>
    <td><%=f.file_field :image %> </td>
  <tr>
    <td><%= f.label :product %></td>
    <th ColSpan="3">
      <%= f.text_field :product, :style => "width:100%;border:0" %></th>
  </tr>

  <tr>
    <td><%= f.label :price %></td>
    <th ColSpan="3">
      <%= f.text_field :price, :style => "width:100%;border:0" %></th>
  </tr>
  
  <tr>
    <td RowSpan="2"><%= f.label :text %></td>
    <td>
      <%= f.file_field :text %> </div>
      <%= f.text_area :text, :style => "width:100%;border:0" %>
    </td>
  </tr>
<table>

<table align="center">
  <tr style="text-align:center">
    <td width=40><%=link_to '이전', shop_path %></td>
    <td width=40><%= f.submit '등록'%></td>
  </tr>
</table>
<% end %>

