<%=render './form' %>

<% if current_user==0 %>
<p style="text-align:right;font-size:10px"><%=link_to '글쓰기', new_shop_path %></p>
<%else%> <p></p> 
<% end %>
<div>---------------------------------------------------------------------------------------------------------------------</div>
<table style="font-size:10px">
  <tr><td>BEST 상품</td></tr>
 <tr>
 <% @shop.each do |shop| %>
  <% if shop.count > 0 %>
    <td width=200>
<div class="panel"><div class="row panel-body" >
<div class="col-md-3 text-right">
<a><%= image_tag(shop.image_url, :width => 120, :height => 170) if shop.image.present? %></a></div>
<div class="col-md-3">
<%= link_to shop.product, shop_path(shop) %>
<p><%= shop.price %> won</p>
    </div>
</div></div>
</td>
<% end %><% end %> </tr></table>
<div>---------------------------------------------------------------------------------------------------------------------</div>
<table style="font-size:10px">
  <tr><td>일반 상품</td></tr>
 <tr>
 <% @shop.each do |shop| %>
    <td width=200>
<div class="panel"><div class="row panel-body" >
<div class="col-md-3 text-right">
<a><%= image_tag(shop.image_url, :width => 120, :height => 170) if shop.image.present? %></a></div>
<div class="col-md-3">
<%= link_to shop.product, shop_path(shop) %>
<p><%= shop.price %> won</p>
    </div>
</div></div>
</td>
<%end%> </tr></table>
</div>
