<%=render './form' %>
<h1 style="font-family:Serif;color:#4c4c4c;text-align:center">SHOP</h1>
<%= form_for @shop, url: shop_index_path, :html => {:multipart => true} do |f| %>
<table width="100%" border="1">
 <tr>
	<td><%=f.label :category %></td>
	<th ColSpan="3">
	<td><%=f.text_field :value, :style => "width:100%;border:0" %></th>
 </tr>
  <tr>
    <td><%=f.label :image %></td>
    <td><%=f.file_field :image %> </td>
  </tr>
  <tr>
    <td><%= f.label :product %></td>
    <th ColSpan="3">
      <%= f.text_field :product, :style => "width:100%;border:0" %></th>
  </tr>

  <tr>
    <td><%= f.label :price %></td>
    <th ColSpan="3">
      <%= f.text_field :price, :style => "width:100%;border:0" %></th>
  </tr>
  
  <tr>
    <td RowSpan="2"><%= f.label :text %></td>
    <td>
      <%=f.file_field :text %>
    </td>
  </tr>
<table>

<table align="center">
  <tr style="text-align:center">
    <td width=40><%=link_to '이전', shop_index_path %></td>
    <td width=40><%= f.submit '등록'%></td>
  </tr>
</table>
<% end %>

