<%= render './form' %>
<p style="text-align:center">주문정보</p>
<br><p>주문 내역</p>
<table rules="rows" width="100%"  style="border:grey;text-align:left">
  <tr>
    <td>PRODUCT</td>
    <td style="color:grey"><%=itemproduct%></td>
  </tr>
</table>


<br><p>결제자 정보</p>
<table rules="rows" width="100%"  style="border:grey;text-align:left">
  <tr>
    <td>NAME</td>
    <td style="color:grey"><%=username%></td>
  </tr>
  <tr>
    <td>ID</td>
    <td style="color:grey"><%=userid%></td>
  </tr>
  <tr>
    <td>ADDRESS</td>
    <td style="color:grey"><%=useraddress%></td>
  </tr>
</table>

<br><p>수령자 정보</p>
