<SCRIPT TYPE="TEXT/JAVASCRIPT"> 
 function Increment() { 
    var count = document.getElementsByName("ps_num")[0]; 
    var arg = arguments[0]; 
    switch(arg){ 
      case 1: 
              ++count.value; 
              break; 
      case -1: 
              --count.value; 
              break; 
      default: 
                break; 
    } 
    money.innerHTML = (cost * count.value); 
  } 
 window.onload = function(){ 
  Increment(); 
  } 
</SCRIPT> 

<script> 
function layer_popup(){ 
var layer = document.getElementById("popup_layer"); 
layer.style.visibility="visible";
} 
</script> 

<script> 
function hidpopup(){ 
var layer = document.getElementById("popup_layer"); 
layer.style.visibility="hidden";
} 
</script>


<%=render './form' %>
<h1 style="font-family:Serif;color:#4c4c4c;text-align:center">SHOP</h1>

<% if current_user==0 %>
<table align="right">
  <tr style="text-align:right">
    <td width=40><%=link_to '수정', edit_shop_path(@shop) %></td>
    <td width=40><%=link_to '삭제', shop_path(@shop), method: :delete %></td>
  </tr>
</table>
<% end %>

<table rules="rows" width="100%"  style="border:grey;text-align:left">
  <tr>
    <td style="color:grey" RowSpan=5 width="300px"><%= image_tag(@shop.image_url, :width => "60%", :height => 200) if @shop.image.present? %></td>
  </tr>
  <tr>
    <td>PRODUCT</td>
    <td style="color:grey"><%=@shop.product%></td>
  </tr>
  <tr>
    <td>PRICE</td>
    <td style="color:grey"><%=@shop.price%></td>
  </tr>
  <%if current_user==1 %>
  <tr>
    <td>NUM</td>
    <td width="20px"><input type="button" value="-" onclick='Increment(-1);'> </td>
    <td><input type="text" name="ps_num" value="1" class="text" maxlength="5" style="width:20px;border:0px" readonly style="border:0"  onkeyup="Increment();">
     <td><input type="button" value="+" onclick='Increment(1);'> </td>
  </tr>
  </tr>
  <tr width="100%" style="text-align:center">
  <td><%= button_tag 'CART',  :data => {:remote => true, :url => url_for(:controller => "shop",  :action => "inside")} %></td> 
    <td style="width:30"><%=link_to 'PAY', pay_path%></td>
  </tr>
  <% else %>
    <tr></tr><tr></tr>
  <% end %>
  <tr>
    <td style="color:grey"><%=@shop.text%></td>
  </tr>
  <tr><td><br>REVIEW</td></tr>
<tr><td ColSpan=6><p style="text-align:right"><%=link_to '글쓰기', new_review_path %></p></td></tr>
  <tr style="border-bottom: 2px solid black">
    <td>NO</td>
    <td>PRODUCT</td>
    <td>SUBJECT</td>
    <td>NAME</td>
    <td>DATE</td>
    <td>평점</td>
  </tr>

  <% @review.each do |review| %>
    <% if review.product == @shop.product %>
    <tr>
      <td><%= review.num %></td>
      <td><%= review.product %></td>
      <td><%= link_to review.subject, review_path(review) %></td>
      <td><%= review.name %></td>
      <td><%= review.date %></td>
      <td><%= review.star %></td>
    <% end %>
    </tr>
  <% end %>
</table>

<br><p style="text-align:center"><%=link_to '목록', shop_index_path%></p>

<div id="popup_layer" 
style="position:absolute;
border:double;
top:300px;
left:300px;
width:250px;
height:100px;
z-index:1;
visibility:hidden;  
background-color:white;
"> 
<table>
  <tr><td>장바구니에 담겼습니다.</td></tr>
  <tr><td>장바구니로 이동하시겠습니까?</td></tr>
  <tr style="text-align:center">
    <td><div style="width:50;display:inline"><%=link_to 'YES', cart_index_path %></div>
    <div style="width:50;display:inline"><td><%= link_to 'NO', shop_index_path%></td>
  </tr>
</table>

</div> 


