<%=render './form' %>
<<<<<<< HEAD
<br><img src="../info.JPG" width="100%"/>

=======
<br>
<img src="../info.JPG" width="100%"/>
>>>>>>> 20ddea8bc575a4e8b2ed468e7bd826e3dd69a2dc
<% if current_user==0 %>
<table align="right" style="font-size:10px">
  <tr style="text-align:right">
    <td width=40><%=link_to '수정', edit_notice_path(@notice) %></td>
    <td width=40><%=link_to '삭제', notice_path(@notice), method: :delete %></td>
  </tr>
</table>
<% end %>

<table rules="rows" width="100%"  style="border:grey;font-size:10px;text-align:left">
  <tr>
    <td>NUM</td>
    <th ColSpan="3" style="color:grey;font-weight:lighter">
      <%=@notice.num%></th>
  </tr>
  <tr>
    <td>NAME</td>
    <td style="color:grey"><%=@notice.name%></td>
    <td>DATE</td>
    <td style="color:grey"><%=@notice.date%></td>
  </tr>
  <tr>
    <th ColSpan="3" style="color:grey;font-weight:lighter">
      <%=@notice.subject%></th>
  </tr>
  <tr>
    <th ColSpan="3" style="color:grey;font-weight:lighter">
      <%=@notice.text%></th>
  </tr>
</table>

<br><p style="text-align:center;font-size:10px"><%=link_to '목록', notice_index_path%></p>
