<%=render './form' %>
<div align = "center" style = "margin-top : 50px">
<h1 style="font-family:Serif;color:#4c4c4c;text-align:center">Find Id or Password</h1></div>
<br><br><br>
<%= label_tag :메일주소 %><br>
 <%= text_field_tag :email,params[:email]%>
                        
<br><%= button_tag '아이디 찾기' %>  <%= button_tag '비밀번호 찾기' %>
