<%=render './form' %>
<%= form_for :join, url: join_index_path do |f| %>
<p>
<strong>name:</strong>  
<%= @join.name %> 
</p> 
<p> 
<strong>id:</strong>
<%= @join.uid %> 
</p>
<p>
<strong>birth:</strong> 
<%= @join.year %><%=@join.month %><%=@join.day %>
</p> 
<p> 
<strong>pwd:</strong> 
<%= @join.pwd %> 
</p>
<p>   
<strong>addr:</strong>    
<%= @join.address %>    
</p>

