<%=render './form' %>

<% if @join.errors.any? %>
<div id="error_explanation"> 
<ul> 
<% @join.errors.full_messages.each do |msg| %>   
<li><%= msg %></li> 
<% end %>  
</ul>  
</div>
<% else %>
  <tr>
    <td>이름</td>
    <th style="color:grey;font-weight:lighter">
      <%=@join.name%></th>
    <td>아이디</td>
    <td style="color:grey;font-weight:lighter"><%=@join.userid%></td>
  </tr>
  <tr>
    <td>생년월일</td>
    <td style="color:grey;font-weight:lighter">
      <%=@join.birth%></td>
    <td>비밀번호</td>
    <td style="color:grey;font-weight:lighter"><%=@join.pwd%></td>
  </tr>
  <tr>
    <td>주소</td>
    <th ColSpan="3"><div style="color:grey;font-weight:lighter">
      <%=@join.address %>
    </th>
  </tr>
</table>
<% end %>

<br><div style="text-align:center"><%=link_to '다시 가입',join_index_path %><div style = "margin-right : 10px"><%= link_to '홈으로', root_path %></div>
