<%=render './form' %>

<% if @join.errors.any? %>
<div id="error_explanation"> 
<ul> 
<% @join.errors.full_messages.each do |msg| %>   
<li><%= msg %></li> 
<% end %>  
</ul>  
</div>
<% else %>
<div>
	<h4><%=flash[:alert] %></h4>
</div>
<% end %>

<br><div style="text-align:center"><%=link_to '로그인 화면 이동',login_index_path %><div style = "margin-right : 10px"><%= link_to '홈으로', root_path %></div>
