<%=render './form' %>
<h1 style="font-family:Serif;color:#4c4c4c;text-align:center">MYPAGE</h1>

<% if current_user==2 %>
<p>New user? <%=link_to "Sign up now",join_index_path %></p>
<p>user? <%=link_to "login",login_index_path %></p>

<% elsif current_user==0 %>
<table width=100% align=center rules="rows" style="rule-color:grey">
  <tr style="border-bottom: 2px solid black">
    <td>NAME</td>
    <td>ID</td>
  </tr>

  <% @join.each do |join| %>
    <tr>
      <td><%= join.name %></td>
      <td><%= link_to join.userid, join_path(join) %></td>
    </tr>
  <% end %>
</table>
<% else %>
<p>Your name is <%=username%></p>

<%end%>


