<%=render './form' %>

<br><p>회원정보</p>
<br><table width=100% align=center rules="rows" style="rule-color:grey">
 <tr style="with:100%;border: 2px solid grey;background-color:#cccccc">
 <td ColSpan="2"><%=username%>님의 회원정보입니다.</td>
 </tr>
 <tr style="border: 1px solid grey">
  <td>NAME</td>
  <td><%=username%></td>
 </tr>
 <tr style="border: 1px solid grey">
  <td>ID</td>
  <td><%=userid%></td>
 </tr>
 <tr style="border: 1px solid grey">
  <td>EMAIL</td>
  <td><%=useremail%></td>
 </tr>
 <tr style="border: 1px solid grey">
  <td>BIRTH</td>
  <td><%=userbirth%></td>
 </tr>
 <tr style="border: 1px solid grey">
  <td>ADDRESS</td>
  <td><%=useraddress%></td>
 </tr>
</table>

