<style type="text/css">
a:link,a:visited,a:active,a:hover {text-decoration:none;color:black;}
</style>
<table width=100% align=right height=25>
  <tr>
   <td style="text-align:right">
    <% if current_user==1 %>
      <div style="font-family:courier">Hello, <%=username%></div>
    <% else %>
      <div> </div>
    <% end %></td>
  </tr>
</table>

<h1 style="font-family:Serif;color:#4c4c4c;text-align:center">gohome</h1>

<table width=100% align=center><tr>
<td><a><%=link_to root_path, controller: 'first' do%>
  <div style="font-family:courier;display:inline">HOME</div>
<% end %> </a></td>

<td><a><%=link_to shop_index_path, controller: 'shop' do%>
  <select name="SHOP">
    <option value="">SHOP</option>
    <option value="1">Dining Room</option>
    <optgroup label="Room"/>
      <option value="2"/>쇼파</option>
      <option value="3"/>침대</option>
      <option value="4"/>기타</option>
    </optgroup>
    <option value="5">Bath Room</option>
    <option value="6">베란다</option>
    <option value="7">Idea 소품</option>
    <optgroup label="청소용품"/>
      <option value="8">휴지통</option>
      <option value="9">클리너</option>
      <option value="10">기타</option>
    </optgroup>
    <option value="11">키즈용품</option>
  </select>
<% end %> </a></td>

<td><a><%=link_to notice_index_path, controller: 'notice' do%>
  <div style="font-family:courier;display:inline">NOTICE</div>
<% end %> </a></td>

<td><a><%=link_to review_index_path, controller: 'review' do%>
  <div style="font-family:courier;display:inline">REVIEW</div>
<% end %> </a></td>

<td><a><%=link_to cart_index_path, controller: 'cart' do%>
  <div style="font-family:courier;display:inline">CART</div>
<% end %> </a></td>

<td><a><%=link_to mypage_index_path, controller: 'mypage' do%>
  <div style="font-family:courier;display:inline">MYPAGE</div>
<% end %> </a></td>

<td><a><%=link_to join_index_path, controller: 'join' do%>
  <div style="font-family:courier;display:inline">JOIN</div>
<% end %> </a></td>

<% if current_user!=1 && current_user!=0 %>
  <td><a><%=link_to login_index_path, controller: 'login' do%>
    <div style="font-family:courier;display:inline">LOGIN</div>
  <% end %> </a></td>
<% else %>
  <td><a><%=link_to logout_path, controller: 'first' do%>
    <div style="font-family:courier;display:inline">LOGOUT</div>
  <% end %> </a></td>
<%end%>
</tr></table>
