<style type="text/css">
a:link,a:visited,a:active,a:hover {text-decoration:none;color:black;}
</style>
<% if current_user==2 %>
<script language="Javascript">
var tmp;
  if(!tmp){
  function popup(){
    var bannerWin=window.open(this.href,"bannerWindow","resizable=no, scrollbars=no, width=250, height=320");
  browser_name=navigator.appName;
   if(browser_name=="Netscape"){
     bannerWin.focus();
    }
  }
  popup();
  tmp=true;
  }
</script>
<script language="JavaScript">
  window.moveTo(0,0);
</script>
<% end %>

<script>
$(function(){
    $("#shop").change(function(){
        shoptype=$("#shop option:selected").text()
        //alert("클릭입니다!!");
        //alert(shoptype);
        window.location=$(this).val();
    });

})
</script>

<table width=100% align=right height=25>
  <tr>
   <td style="text-align:right">
    <% if current_user==1 || current_user==0 %>
      <div style="font-family:courier">Hello, <%=username%></div>
    <% else %>
      <div> </div>
    <% end %></td>
  </tr>
</table>

<div align="center"><img src="../gohome.JPG" alt="gohome" align="center" width="200" height="80"/></div>

<table align=right>
<tr>
<form action='../shops/search' method="GET">
<td style="font-size:10px"><input type="text" name="search" size=15 style="border-bottom:1px solid gray;border-top:0px;border-left:0px;border-right:0px;outline:0;background:transparent" ></td>
<td style="font-size:10px;color:#cccccc"><input type="submit" value="SEARCH" style="background-color:white;border-width:0;font-size:10px"></td>
</form>
</tr></table>

<table width=100% align=center style="background:#cccccc"><tr>
<td><a><%=link_to root_path, controller: 'first' do%>
  <div style="font-family:courier;display:inline">HOME</div>
<% end %> </a></td>

<td><a><%=link_to shop_index_path,controller: 'shop' do%>
  <div style="font-family:courier;display:inline">SHOP</div>
<% end %> </a></td>

<td><a><%=link_to notice_index_path, controller: 'notice' do%>
  <div style="font-family:courier;display:inline">NOTICE</div>
<% end %> </a></td>

<td><a><%=link_to review_index_path, controller: 'review' do%>
  <div style="font-family:courier;display:inline">REVIEW</div>
<% end %> </a></td>

<td><a><%=link_to cart_index_path, controller: 'cart' do%>
  <div style="font-family:courier;display:inline">CART</div>
<% end %> </a></td>

<td><a><%=link_to mypage_index_path, controller: 'mypage' do%>
  <div style="font-family:courier;display:inline">MYPAGE</div>
<% end %> </a></td>

<% if current_user==2 %>
<td><a><%=link_to join_index_path, controller: 'join' do%>
  <div style="font-family:courier;display:inline">JOIN</div>
<% end %> </a></td>
<% end %>
<% if current_user!=1 && current_user!=0 %>
  <td><a><%=link_to login_index_path, controller: 'login' do%>
    <div style="font-family:courier;display:inline">LOGIN</div>
  <% end %> </a></td>
<% else %>
  <td><a><%=link_to logout_path, controller: 'first' do%>
    <div style="font-family:courier;display:inline">LOGOUT</div>
  <% end %> </a></td>
<%end%>
</tr></table>
