<style type="text/css">
a:link,a:visited,a:active,a:hover {text-decoration:none;color:black;}
</style>

<script>
$(function(){
    $("#shop").change(function(){
        shoptype=$("#shop option:selected").text()
        //alert("클릭입니다!!");
<<<<<<< HEAD
        //alert(shoptype);
=======
       // alert(shoptype);
>>>>>>> 4137e5f507cc1e83e3f610067679d7a8e697e03f
        window.location=$(this).val();
    });

})
</script>

<table width=100% align=right height=25>
  <tr>
   <td style="text-align:right">
    <% if current_user==1 || current_user==0 %>
      <div style="font-family:courier">Hello, <%=username%></div>
    <% else %>
      <div> </div>
    <% end %></td>
  </tr>
</table>

<h1 style="font-family:Serif;color:#4c4c4c;text-align:center">gohome</h1>

<table width=100% align=center><tr>
<td><a><%=link_to root_path, controller: 'first' do%>
  <div style="font-family:courier;display:inline">HOME</div>
<% end %> </a></td>

<td>
  <div style="width:50px;overflow:hidden;font-weight:lighter"><select name="shop" id="shop" style='background: transparent;border-style : none'>
    <option value=""/>SHOP</option>
    <optgroup label="Dining Room"/>
      <option value="shop"/>컵/텀블러</option>
      <option value="shop"/>식기/용기</option>
      <option value="shop"/>조리도구</option>
      <option value="shop"/>기타</option>
    </optgroup>
    <optgroup label="Room"/>
      <option value="shop"/>시계</option>
      <option value="shop"/>조명/스탠드</option>
      <option value="shop"/>테이블/수납</option>
      <option value="shop"/>청소용품</option>
      <option value="shop"/>기타</option>
    </optgroup>
    <optgroup label="Bath Room"/>
      <option value="shop"/>타월/매트</option>
      <option value="shop"/>욕실용품</option>
      <option value="shop"/>기타</option>
    </optgroup>
  </select></div>
</td>

<td><a><%=link_to notice_index_path, controller: 'notice' do%>
  <div style="font-family:courier;display:inline">NOTICE</div>
<% end %> </a></td>

<td><a><%=link_to review_index_path, controller: 'review' do%>
  <div style="font-family:courier;display:inline">REVIEW</div>
<% end %> </a></td>

<td><a><%=link_to cart_index_path, controller: 'cart' do%>
  <div style="font-family:courier;display:inline">CART</div>
<% end %> </a></td>

<td><a><%=link_to mypage_index_path, controller: 'mypage' do%>
  <div style="font-family:courier;display:inline">MYPAGE</div>
<% end %> </a></td>

<td><a><%=link_to join_index_path, controller: 'join' do%>
  <div style="font-family:courier;display:inline">JOIN</div>
<% end %> </a></td>

<% if current_user!=1 && current_user!=0 %>
  <td><a><%=link_to login_index_path, controller: 'login' do%>
    <div style="font-family:courier;display:inline">LOGIN</div>
  <% end %> </a></td>
<% else %>
  <td><a><%=link_to logout_path, controller: 'first' do%>
    <div style="font-family:courier;display:inline">LOGOUT</div>
  <% end %> </a></td>
<%end%>
</tr></table>
